# --- Secrets / env ---
.env
.env.*
*.env

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/

# --- Flask / logs ---
*.log

# --- Java / Maven ---
target/
*.class
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.properties.*
.mvn/wrapper/MavenWrapperDownloader.java

# --- IDE ---
.vscode/
.idea/
*.iml

# --- OS ---
.DS_Store
Thumbs.db

# --- Datasets (big files) ---
dataset-service/data/*.csv
dataset-service/data/*.zip
dataset-service/data/*.parquet

# (optional) keep sample only
!dataset-service/data/sample.csv


.csv